<h2>
  <%= safe_join([link_to_attachment_container(@container), l(:label_edit_attachments)].compact, ' » ') %>
</h2>

<%= error_messages_for *@attachments %>

<%- attachment_categories = AttachmentCategory.all.collect { |p| [p.name, p.id]} %>

<%= form_tag(container_attachments_path(@container), :method => 'patch') do %>
  <%= back_url_hidden_field_tag %>
  <div class="box attachments">
  <table>
  <% @attachments.each do |attachment| %>
    <tr>
      <td colspan="2">
        <span class="icon icon-attachment"><%= attachment.filename_was %></span>
        <span class="size">(<%= number_to_human_size attachment.filesize %>)</span>
        <span class="author"><%= attachment.author %>, <%= format_time(attachment.created_on) %></span>
      </td>
    </tr>
    <tr id="attachment-<%= attachment.id %>">
      <td style="vertical-align:top;">
        <%- if attachment.thumbnailable? %>
        <div class="attachment_categories_column" style="<%= "width:#{(Setting.thumbnails_size.to_i*1.5).to_i}px;" %>">
          <%= thumbnail_tag( attachment ) %>
        </div>
        <%- else %>
        <div class="attachment_categories_column" >
          <%= attachment_category_tag(attachment.attachment_category, :span) %>
        </div>
        <%- end %>
        <div>
        <%= select_tag "attachments[#{attachment.id}][attachment_category_id]", options_for_select([['', '']] + attachment_categories, attachment.attachment_category_id), :onchange => "changeCategoryColor(this)" %>
        </div>
        </div>
      </td>
      <td><%= text_field_tag "attachments[#{attachment.id}][filename]", attachment.filename, :size => 40 %></td>
      <td>
        <%= text_field_tag "attachments[#{attachment.id}][description]", attachment.description, :size => 80, :placeholder => l(:label_optional_description) %>
        <%= javascript_tag "observeAutocompleteField('attachments_#{attachment.id}_description', '#{auto_complete_attachment_descriptions_path(@container.project)}')".html_safe %>
      </td>
    </tr>
  <% end %>
  </table>
  </div>
  <p>
    <%= submit_tag l(:button_save) %><%= submit_tag(l(:button_archive), :name => "archive" )%>
    <%= link_to l(:button_cancel), back_url if back_url.present? %>
  </p>
<% end %>
<%= render "hooks/attachment_categories/category_changer" %>
