<%-
  _red_category     = AttachmentCategory.new(:name => l(:label_red_category),   :html_color => "#FFCCCC")
  _green_category   = AttachmentCategory.new(:name => l(:label_green_category), :html_color => "#CCFFCC")
  _blue_category    = AttachmentCategory.new(:name => l(:label_blue_category),  :html_color => "#2014C9")
  _yellow_category  = AttachmentCategory.new(:name => l(:label_yellow_category),:html_color => "#FFFFCC")
%>

<fieldset><legend><%= l(:label_configure_attachment_category_style)%></legend>
<p>
  <label><%= l(:label_setting_default_tag) %></label>
  <%= radio_button_tag 'settings[attachment_category_style]', "attachment_category_style_default", settings['attachment_category_style'] == 'attachment_category_style_default' %><br />
  <%= l(:label_example_text) %><%= attachment_category_tag( _red_category     , :span, {:class => "attachment_category attachment_category_style_default"} ) %><br />
  <%= l(:label_example_text) %><%= attachment_category_tag( _green_category   , :span, {:class => "attachment_category attachment_category_style_default"} ) %><br />
  <%= l(:label_example_text) %><%= attachment_category_tag( _blue_category    , :span, {:class => "attachment_category attachment_category_style_default"} ) %><br />
  <%= l(:label_example_text) %><%= attachment_category_tag( _yellow_category  , :span, {:class => "attachment_category attachment_category_style_default"} ) %>
</p>
<p>
  <label><%= l(:label_setting_other_tag) %></label>
  <%= radio_button_tag 'settings[attachment_category_style]', "attachment_category_style_other", settings['attachment_category_style'] == 'attachment_category_style_other' %><br />
  <%= l(:label_example_text) %><%= attachment_category_tag( _red_category     , :span, {:class => "attachment_category attachment_category_style_other"} ) %><br />
  <%= l(:label_example_text) %><%= attachment_category_tag( _green_category   , :span, {:class => "attachment_category attachment_category_style_other"} ) %><br />
  <%= l(:label_example_text) %><%= attachment_category_tag( _blue_category    , :span, {:class => "attachment_category attachment_category_style_other"} ) %><br />
  <%= l(:label_example_text) %><%= attachment_category_tag( _yellow_category  , :span, {:class => "attachment_category attachment_category_style_other"} ) %>
</p>
</fieldset>

<fieldset><legend><%= l(:label_configure_attachment_archive_dir_field)%></legend>
  <p>
    <label><%= l(:label_custom_field_name) %></label>
    <%= text_field_tag 'settings[custom_field_name]', settings['custom_field_name'] %>
  </p>
</fieldset>
